<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
</head>
<body>
    <header>
        <nav>
            <h1><a href="">Ecom Parcoursup</a></h1>
            <ul class="navigation-link">
                <li class="link-1"><a href="">Acceuil</a></li>
                <li class="link-2"><a href="">Pannel Admin</a></li>
                <li class="link-3"><a href="">Documentation</a></li>
                <li class="link-4"><a href="">Connexion</a></li>
                <li class="link-5"><a href="">Créer un compte</a></li>
            </ul>
        </nav>
    </header>
    <main>
        section
    </main>
</body>
</html>